h1,h2 {
    color: olivedrab;
}
button{
    font-size: 30px;
    background-color: #a8dadc;
}

*{
    background-color: mediumspringgreen;
}

#search{
    background-color: skyblue;
}
body{
    background-color: #f1faee;
}
#sign-up{
    background-color: #1d3557;
    color: white;
}
span{
    color: #1d3557;
}

.tags{
    color: white;
    background-color: red;
    font-size: 16px;

}

span a{
    color: #1d3557;
}
/* any descendent after footer */
footer a{
    color: red;
}
.post a{
    text-decoration: none;
}
h2 + button{
    font-size: 20px;
}
/* direct child right after footer */
footer > a{
    color: blue;
}
input{
    color: red;
}

input[type="password"]{
    color: black;
}
section[class="post"]{
    background-color: navajowhite;
}
a[href="www.google.com"]{
    font-size: 20px;
}
a[href*="github"]{
    color:royalblue;
}
a[href$=".org"]{
    color: green;
}

a:hover{
    color:crimson;
}
/* button:hover{
    color:green;
    background-color: white;
} */
.post button:hover{
    background-color: white;
    font-weight: bold;
}
a:hover{
    text-decoration: overline;
}
/* when clicked turn green */
.post button:active{
    background-color: #02c39a;
}

.post:nth-of-type(3n){
    background-color: teal;
}

h2::first-letter{
    color:red;
    font-size:40px;
}
p::first-line{
    color: red;
}

p::selection{
    background-color:orange;
}
/* for all documents */
::selection{
    background-color:orange;
}